.logo{
  width: 30%;
  height: 100 vh ;
  /*border: 25px solid rgb(231, 115, 5); */
  float:left ;
  font-size: 2em ;
  
}

.same {
  width:60%;
  /*border: 15px solid green; */
  /*padding:25px; */
  margin: auto;
  float: left ;
}

.same ul  {
  display : inline-flex ;
  list-style : none ;
  color : #fff ;}

  .same ul li {width : 120px ;
    margin : 15px ;
    padding : 15px ;}

.wlc {position : relative ;
width : 100% ;
margin : 0 auto ;}

.wlc img {width : 100% ;}

.heading {color : white;
position : absolute ;
top : 50% ;
right : 55% ;
width : 10% ;
text-align :center ;
font-size : 50px ;
background-color :rgba(3, 3, 3, 0.616) ;
}

.headingg {color : white;
    position : absolute ;
    top : 52% ;
    width : 100% ;
    text-align :center ;
    font-size : 40px ;
    left : 5% ;
    font-family : Verdana ;
    
    }
 
  .project  { 
   
  float : right ;
  right : 20px ;
    width : 100% ;
    text-align :right ;
    font-family :Segoe UI ; 
  }
  .h  { 
    background : linear-gradient(to right ,b) ;
width : 100%;
height: 2px ;
border : 0 none ;
margin-right : auto;
margin-left : auto;
margin-top : 5px;
margin-bottom : 20 px; 
background-color : rgb(209, 207, 207) ;}

.first {  margin-left :25px;
  margin-right : 15px ; }
.second{  margin-left :25px;
  margin-right : 15px ; }

.word { color : white;
  position : absolute ;
  top : 130% ;
  right :87.5% ;
  width : 10% ;
  text-align  : top  ;
  font-size : 20px ;
  background-color :rgb(3, 3, 3) ;
  height :25px;
  }

  .wordd { color : white;
    position : absolute ;
    top : 130% ;
    right :64.2% ;
    width : 10% ;
    text-align  : top  ;
    font-size : 20px ;
    background-color :rgb(3, 3, 3) ;
    height :25px;
    }

    .worddd { color : white;
      position : absolute ;
      top :130% ;
      right :41% ;
      width : 10% ;
      text-align  : top  ;
      font-size : 20px ;
      background-color :rgb(3, 3, 3) ;
      height :25px;
      }

      .wordddd { color : white;
        position : absolute ;
        top :130% ;
        right :17.7% ;
        width : 10% ;
        text-align  : top  ;
        font-size : 20px ;
        background-color :rgb(3, 3, 3) ;
        height :25px;
        }
.word1 { color : white;
  position : absolute ;
  top : 165% ;
  right :87.5% ;
  width : 10% ;
  text-align  : top  ;
  font-size : 20px ;
  background-color :rgb(3, 3, 3) ;
  height :25px;
  }
  .word2 { color : white;
    position : absolute ;
    top :  165% ;
    right :64.2% ;
    width : 10% ;
    text-align  : top  ;
    font-size : 20px ;
    background-color :rgb(3, 3, 3) ;
    height :25px;
    }

    .word3 { color : white;
      position : absolute ;
      top : 165% ;
      right :41% ;
      width : 10% ;
      text-align  : top  ;
      font-size : 20px ;
      background-color :rgb(3, 3, 3) ;
      height :25px;
      }
      .word4 { color : white;
        position : absolute ;
        top :  165% ;
        right :17.7% ;
        width : 10% ;
        text-align  : top  ;
        font-size : 20px ;
        background-color :rgb(3, 3, 3) ;
        height :25px;
        }
      
.lorem {right: 20px;
  width: 98%;
  float : right ;
list-style : none ;
margin-top : 30 px}

.div { width : 20%;
margin-left : 50px ;
right :10px;}
.div2 { margin-top:-450px;
width: 20%;
margin-left :380px;}


.div3 { margin-top:-450px;
  width: 20%;
  margin-left :710px;}
  .div4 { margin-top:-450px;
    width: 20%;
    margin-left :1040px;}
  
    
.contact-section {
padding :40px 0 ;}

.contact-section h1 {
  color : rgb(0, 0, 0)150, 144, 144);}
 
.contact-from {
max-width :600px;
margin : 30px ;
padding : . 90px ;
overflow : hidden ;

}

  .contact-from-text :focus {
    box-shadow : 30px 50px 10px 4px #34495e ;
    
    }
    textarea.contact-from-text  {
      
      resize: none;
      height : 120px ;
      
      }
      .contact-from-btn {
float: left ;
margin-left: 50px;
width: 10%;
border: 0;
background : #000000 ;
color :#fff ;
padding : 12px 50px ;
cursor: pointer;
transition: 0.5s;
margin-top : 30px ;

   
        }
        .contact-from-btn :hover {
background: #2980b9;          
          }
   .t  { width : 10%;
            margin-left : 50px ;
            right :10px;
    }
   .x  { width : 10%;
              margin-left : 50px ;
              right :10px;
              }
   .w { width : 10%;
                margin-left : 50px ;
                right :10px;}
    .y  { width : 10%;
                  margin-left : 50px ;
                  right :10px;}

 .map { width : 100%;
  margin-left : 80px ;
  margin-top : 100px ;
   right :50px;}